* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(59 65 71);;
  color: white;
}

.header {
  background-color: rgb(83 111 22);
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 75px;
}

.sidebar {
  width: 80px;
  background-color: #38393c;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  z-index: 1001;
}

.sidebar img {
  width: 50px;
  height: auto;
  margin-bottom: 20px;
}

.main-container {
  display: flex;
  margin-left: 80px;
  margin-top: 75px;
  padding: 20px;
}

.content {
  display: inline;
  align-content: center;
  width: 100%;
  background: rgb(43 48 53);
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.content-input{
  background-color: rgb(59 65 71);
  color: #fff;
  border: none;
  display: inline-block;
  border-radius: 10%;
  height: 50px;
  width: 25%;
  padding: 15px;
  margin: 5px;
}

.content-button{
  background-color: rgb(83 111 22);
  height: 50px;
  width: 150px;
  padding: 15px;
  border-radius: 15px;
  color: white;
  position: absolute;
  right: 50px;
  border-color: rgb(8, 214, 87);
}

.form{
  display: block;
  margin-bottom: 20px;
}

.horizontaal {
  border-top: 3px solid white;
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.titel{
  text-align: center;
}

::placeholder{
  color: #fff;
}

::-webkit-scrollbar{
  background-color: rgb(59 65 71);
  display: none;
}

::-webkit-scrollbar-thumb{
  background-color: rgb(255, 255, 255);
}
