* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: rgb(59 65 71);
    color: white;
    transition: transform 0.3s ease;
    margin: 0;
  }

  ::placeholder{
    color: #fff;
  }
  
  .header {
    background-color: rgb(83 111 22);
    padding: 30px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 75px;
  }
  
  
  .sidebar {
    width: 80px;
    background-color: rgb(43 48 53);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    z-index: 1001;
    margin: 0;
  }
  
  
  .sidebar img {
    width: 50px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .sidebar .icon {
    width: 40px;
    height: 40px;
    background-color: #1c1d20;
    border-radius: 5px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .main-container {
    margin-left: 75px;
    margin-top: 7.5vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

 .content{
    display: block; 
    background-color: rgb(43 48 53);
    border-radius: 1%;
    height: 800px;
    margin-top: 10px;
  }

  .complex {
    display: block;
  }

  /* Dit is alle css voor de inputs waar gegevens in komen te staan */
  .input-text{
    padding: 1%;
    border-radius: 1rex;
    width: 12.5%;
    margin: 1rex;
    background-color: rgb(59 65 71);
    border: none;
    color: #FFF;
  }

 .input-number {
    padding: 1%;
    border-radius: 1rex;
    width: 25%;
    margin: 1rex;
    background-color: rgb(59 65 71);
    border: none;
    color: #FFF;
  }

 .input-email{
    padding: 1%;
    border-radius: 1rex;
    width: 25%;
    margin: 1rex;
    background-color: rgb(59 65 71);
    border: none;
    color: #FFF;
  }

 .input-house{
    padding: 1%;
    border-radius: 1rex;
    width: 7.5%;   
    margin: 1rex;
    background-color: rgb(59 65 71);
    border: none;
    color: #FFF;
  }

  /* Dit zorgt ervoor dat de pijltjes voor hoger en lager verdwijnen */
  input::-webkit-outer-spin-button,   
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  margin: 0;
  }

  /* dividers */
 .horizontaal {
    border-top: 3px solid white;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .verticaal {
    border-left: 6px solid white;
    height: 70%;
    position: absolute;
    left: 35%;
    margin-left: -3px;
    margin-top: 48px;
  }


  .wijzigenbutton{
    background-color: rgb(220 53 69);
    padding: 1%;
    border-radius: 1rex;
    width: 20vh;
    border-color: rgb(220 53 69);
    margin: 1rex;
    position: fixed;
    top: 25vh;
    right: 5vh;
    cursor: pointer;
    }

  .verstuur-button{
    margin: 1rex;
    cursor: pointer;
    background-color: rgb(83 111 22);
    border-radius: 1rex;
    padding: 1%;
    border: none;
    position: fixed;
    top: 175px;
    right: 5vh;
    width: 20vh;
  }

  .close-button{
    color: white;
    background:red;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 1rex;
  }

  .submit-button{
    padding: 10px 30px;  
    background: green;
    border: none;
    cursor: pointer;
    color: #fff;
    position: absolute;
    right: 20px;
    border-radius: 1rex;
  }

  .complex {
    display: block;
    position: absolute;
    top: 20%;
    right: 25%;  
  }

  .complex-input {
    padding: 1%;
    border-radius: 1rex;
    border: none;
    width: 25%;   
    margin: 1rex;
    height: 3rem;
    background-color: rgb(59 65 71);
    color: #FFF;
  }

  .motivatie {
    width: 75vh;
    height: 35vh;
    text-align: center;
    text-align: justify;
    background-color: rgb(59 65 71);
    border-radius: 5%;
    padding: 1.5%;
  }
